/* body {
    font-size: 92% !important;
} */

/* .container-fluid {
    width: 90% !important;
} */

/* .titlesection {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
} */

/*
.example {
    color: #80808082 !important;
}
*/

/* .questionsColumn {
    min-width: 190px;
} */

/* .addInputButton {
    border-radius: 12px;
    background-color: darkseagreen;
    color: darkslategray;
    float: right;
} */

/* .addInputButton:hover {
  cursor: pointer;
  transform: scale(0.8);
} */

/* .inputDailySummary {
    max-width: 120px;
} */

/* textarea {
    border-radius: .2rem;
    color: 495057;
    border: 1px solid #ced4da;
} */


/* 

.errorMessage {
    border-width: 4px;
    border-color: red;
} */

@media (min-width: 980px) { 
   table {
    max-width: 134px !important;
    float: left;

   }

   .diarydiv {
    width: 130em;
    overflow-x: auto;
    /* white-space: nowrap; */
   }


   .matchStyleComputor {
       height: 54px;
   }

   .fixPadComputer {
    padding-bottom: 14px !important;
   }

   .hideOnComputer {
       display: none;
   }

 
}